{% block title %}Premium{% endblock %}
{% block page_content%}
    <main>
        <div id="premium-infos" class="center">
            <h3>Devenez membre premium et accèdez aux avantages suivants :</h3>

        </div>
    </main>
{% endblock %}